.container-content-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem;
}
.container-content-menu h3 {
  font-size: 5rem;
  letter-spacing: 1rem;
  color: #121212;
  font-family: 'Marcellus', serif;
  font-weight: 400;
}
.container-content-menu img {
  width: 250px;
  margin: 2rem 0;
}
.container-content-menu p {
  font-size: 2.5rem;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  max-width: 1200px;
  text-align: center;
}

.container-card-menu {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  width: 100%;
  padding: 0 2rem;
}

.card-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 2.5rem;
  width: 80%;
  margin: 0 10%;
  background-color: #fff6ea;
  padding: 3rem 0;
  box-shadow: rgba(172, 172, 172, 0.2) 0px 7px 29px 0px;
}

.card-menu img {
  width: 100px;
  padding-left: 1rem;
}

.card-menu h4 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  color: #121212;
  font-family: 'Marcellus', serif;
  font-weight: 600;
  text-align: start;
}

.card-menu p {
  font-size: 2rem;
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  max-width: 1200px;
  text-align: start;
} 
.card-menu span{
  padding-right: 1rem;
  font-weight: 600;
}